<section id="partner">
  <h2 class="mb-5 text-center">Nos partenaires</h2>
  <div class="owl-carousel owl-theme">
    <div class="item card text-center">
      <%= image_tag "AUTOMNE.png", class:"card-img-top"  %> 
      <div class="card-body">
        <h5 class="card-title">Nom du partenaire</h5>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "AUTOMNE.png", class:"card-img-top"  %> 
      <div class="card-body">
        <h5 class="card-title">Nom du partenaire</h5>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "AUTOMNE.png", class:"card-img-top"  %> 
      <div class="card-body">
        <h5 class="card-title">Nom du partenaire</h5>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "AUTOMNE.png", class:"card-img-top"  %> 
      <div class="card-body">
        <h5 class="card-title">Nom du partenaire</h5>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "AUTOMNE.png", class:"card-img-top"  %> 
      <div class="card-body">
        <h5 class="card-title">Nom du partenaire</h5>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "AUTOMNE.png", class:"card-img-top"  %> 
      <div class="card-body">
        <h5 class="card-title">Nom du partenaire</h5>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "AUTOMNE.png", class:"card-img-top"  %> 
      <div class="card-body">
        <h5 class="card-title">Nom du partenaire</h5>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "AUTOMNE.png", class:"card-img-top"  %> 
      <div class="card-body">
        <h5 class="card-title">Nom du partenaire</h5>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "AUTOMNE.png", class:"card-img-top"  %> 
      <div class="card-body">
        <h5 class="card-title">Nom du partenaire</h5>
      </div>
    </div>
  </div>
</section>
