<section id="partner">
  <h2 class="mb-5 mt-5 text-center">Nos partenaires</h2>
  <div class="owl-carousel owl-theme">
    <div class="item card text-center">
      <%= image_tag "partners/pepite.png", class:"card-img-top"  %> 
      <div class="card-body">
        <a href="https://pepite.languedoc-roussillon-universites.fr"><h5 class="card-title">Pepite LR</h5></a>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "partners/herault.png", class:"card-img-top"  %> 
      <div class="card-body">
        <a href="http://www.herault.fr"><h5 class="card-title">Département de l'Hérault</h5></a>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "partners/ligue34.png", class:"card-img-top"  %> 
      <div class="card-body">
        <a href="http://www.laligue34.org"><h5 class="card-title">La ligue de l'enseignement</h5></a>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "partners/fondationbpsud.png", class:"card-img-top"  %> 
      <div class="card-body">
        <a href="https://www.fondation-bpsud.fr"><h5 class="card-title">Fondaton Banque Populaire du Sud</h5></a>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "partners/yakabooks.png", class:"card-img-top"  %> 
      <div class="card-body">
        <a href="https://www.yakabooks.com"><h5 class="card-title">Yakabooks</h5></a>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "partners/fiersdelettres.png", class:"card-img-top"  %> 
      <div class="card-body">
        <a href="https://www.facebook.com/fiersdelettres/"><h5 class="card-title">Fiers de lettres</h5></a>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "partners/cciherault.png", class:"card-img-top"  %> 
      <div class="card-body">
        <a href="http://www.herault.cci.fr"><h5 class="card-title">CCI Hérault</h5></a>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "partners/ecolepetillante.png", class:"card-img-top"  %> 
      <div class="card-body">
        <a href="https://www.ecole-petillante.org"><h5 class="card-title">L'école Pétillante</h5></a>
      </div>
    </div>
    <div class="item card text-center">
      <%= image_tag "partners/pierresvives.png", class:"card-img-top"  %> 
      <div class="card-body">
        <a href="http://pierresvives.herault.fr"><h5 class="card-title">Médiathèque Départementale Pierresvives</h5></a>
      </div>
    </div>
  </div>
</section>
