
<header class="masthead text-white text-center bg-adventure-pic">
  <div class="overlay"></div>
  <div class="container">
    <div class="row"> 
      <div class="col-xl-9 mx-auto">
        <h2>Le rat curieux, c'est ...</h2>
      </div>
    </div>
  </div>
</header>

<% flash.each do |key, value| %>
  <div class="m-auto <%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<%= render "static_pages/team" %> 

<%= render "static_pages/social" %> 

<%= render "static_pages/newsletter" %> 
