<%= stylesheet_link_tag "charts" %>

<header class="masthead text-white text-center bgPresentationPic">
  <div class="overlay"></div>
  <div class="container">
    <div class="row"> 
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5 normal-title">Le Rat Curieux</h1>
        <h2 class="mb-5 normal-title">Pédagogie innovante pour l'autonomie culturelle</h2>
      </div>
    </div>
  </div>
</header>

<%= render "static_pages/kit_presentation" %> 

<%= render "static_pages/partners" %> 

<%= render "static_pages/team" %> 

<% flash.each do |key, value| %>
  <div class="m-auto <%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<%= render "static_pages/social" %> 

<!-- Newsletter -->
<%= render "static_pages/newsletter" %> 
