<%= form_with(model: user, local: true, class: "form-horizontal") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "erreur") %> lors de l'inscription à la newsletter:</h2>

      <ul class="list-group">
      <% user.errors.full_messages.each do |message| %>
        <li class="list-group-item" style="background-color: transparent;"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="form-row field">
        <%= form.label "Nom", class: "col-4 my-auto control-label", for: "nameInput" %>
        <div class="col-8">
        <%= form.text_field :name,  class: "form-control", id:"nameInput" %>
        </div>
      </div>

      <div class="form-row field">
        <%= form.label "Prénom", class: "col-4 my-auto control-label", for: "lnameInput" %>
        <div class="col-8">
        <%= form.text_field :lname,  class: "form-control", id:"lnameInput" %>
        </div>
      </div>

      <div class="form-row field">
        <%= form.label "Email", class: "col-4 my-auto control-label", for: "emailInput" %>
        <div class="col-8">
        <%= form.text_field :email,  class: "form-control", id:"emailInput" %>
        </div>
      </div>

      <div class="form-row field">
        <div class="col-2">
          <%= form.check_box :consentEvolve,  class: "form-control", id:"consentEvolveInput" %>
        </div>
        <%= form.label "J'accepte de recevoir les informations relatives à l'avancement du projet", class: "col-10 my-auto control-label", for: "consentEvolveInput" %>
      </div>

      <div class="form-row field">
        <div class="col-2">
          <%= form.check_box :consentActivity,  class: "form-control", id:"consentActivityInput" %>
        </div>
        <%= form.label "J'accepte de recevoir le calendrier et les nouvelles relatives aux activités", class: "col-10 my-auto control-label", for: "consentActivityInput" %>
      </div>
  <div class="actions">
    <%= form.submit "S'inscrire", class: "btn btn-block btn-lg btn-primary" %>
  </div>
<% end %>
