<!DOCTYPE html>
<html>
  <head>
    <title>LeRatCurieux</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
          <a class="navbar-brand" href="#">Start Bootstrap</a>
          <a class="btn btn-primary" href="#">Sign In</a>
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
